* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
}


header {
    background-color: #1e293b;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}




.search {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search input {
    padding: 8px;
    width: 200px;
}

.search button {
    padding: 8px 16px;
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}


.jobs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.job-card {
    background-color: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    
}



.job-card button {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    background-color: #16a34a;
    color: white;
    border: none;
    cursor: pointer;
}


footer {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
